*
  box-sizing: border-box
h1,h2,h3,h4,h5,h6
  margin: 0
body
  font-family: 'RDR Lino',sans-serif
  background-image: url("./../img/body.png")
  background-repeat: no-repeat
  background-size: cover
  z-index: 5
  background-color: #000
  opacity: 0.9
  width: 100%
img
  max-width: 100%
ul
  margin: 0
  padding: 0
li
  list-style-type: none
.container
  max-width: 1700px
  margin: auto
.sky
  background-image: url("./../img/sky.png")
  position: absolute
  height: 389%
  width: 100%
  opacity: 0.4
  z-index: -1